/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
//$--color-primary: teal; //控制主要颜色

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import '~element-ui/lib/theme-chalk/display.css';

//TopBar导航栏的间距，以前是20px,现在调整到10px
.el-menu-item{
  padding: 0 10px;
}

// 输入框的间距 以前是40px,现在调整到20px
.el-form-item__label{
  line-height: 20px;
}

// table 鼠标悬停样式
.el-table__row{
  cursor: pointer;
}

// badge的样式：
.el-badge__content.is-fixed{
  top: 14px;
  right: 24px;
}
